.charge2021 {
    border: 1px solid #fb7299;
    background: #fff;
    color: #fb7299;
    width: 100px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    transition: all .3s;
    box-sizing: border-box;
    padding: 0;
    line-height: 27px;
    height: 27px;
    border-radius: 2px;
    font-size: 14px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.charge2021:hover {
    background: #fb7299;
    color: #fff
}
.charge2023{
    background-color: transparent;
    border: 1px solid #FF6699;
    margin-right: 12px;
    flex-shrink: 0;
    width: 109px;
    color: #FF6699;
    transition: 0.3s all;
    box-sizing: border-box;
    padding: 0;
    line-height: 30px;
    height: 30px;
    border-radius: 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.charge2023:hover{
    background-color: #FFECF1;
}
.charge-btn-icon{
    width: 20px;
    height: 20px;
    margin-right: 4px;
    display: flex;
}
*{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}